.roundbutton{
    margin-bottom: 10px;
    border-radius: 25px;
    text-align: center;
    vertical-align: middle;
    color: white;
}
#convert{
    background-color: #d58512;
}
#peopleCount{
    background-color: #269abc;
}
#recipeElement{
    background-color: #f0ad4e;
}
#Log_out{
    background-color: #c9302c;
}
#add_Recipe{
    background-color: #449d44;
}
.roundbutton > p{
    padding: 20px 0;
    cursor: default;
    text-decoration: none;
    color: white;
    display: block;
    height: 100%;
}
.roundbutton > a{
    padding: 20px 0;
    cursor: default;
    text-decoration: none;
    color: white;
    display: block;
    height: 100%;
}
#add_next_ingredient{
    padding-left: 50px;
    padding-right: 50px;
}