body{
    background-color: #555;
}
.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}
.navbar{
    margin-bottom: 0px;
    border: none;
}
.banner{
    min-width: 100%;
    margin-left: 0px;
    margin-right: 0px;

}
ul.nawigacja{
    padding: 0px;
}
ul.nawigacja > li{
    list-style-type: none;
    background-color: #000;
    text-align: center;
    float: left;
    width: 20%;
    cursor: default;
    display: block;
}
ul.nawigacja > li > a{
    padding: 10px 10px 10px 10px;
}
ul.nawigacja>li:hover{
    background-color: #111;
}
ul.nawigacja>li:active{
    background-color: #333;
}
.navbutton{
    display: block;
    color: white;
}
.odstep{
    background-color: white;
    width: 1%;
}
footer{
    height: 300px;
    background-color: black;
    
}
.footer-main > div{
    float: left;
    min-width: 25%;
    max-width: 25%;
}
.footer-block{
    color: white;
}
div.footer-block{
    text-align: center;
}
p > span{
    cursor: default;
}
p>span>a{
    cursor: pointer;
    text-decoration: none;
}
.square{
    background-color: #aaa;
    margin: 20px 0px;
}
.m-t-10{
    margin-top: 10px;
}
.m-b-10{
    margin-bottom: 10px;
}