.recipe{
    border: 5px solid #fff;
    background-color: #aaa;
    
    max-width:100%;
max-height:100%;
}

.recipe_name{
    text-align: center;
}
.ingredient div p{
    display: inline-block;
}

.ingredient div select{
    display: inline-block;
}
.ingredient .delete{
    background-color: #fd1200;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}
.recipe p{
    margin-bottom: 0px;
    font-size: 2em;
}
.image{
    max-width:100%;
max-height:100%;
}
.filter{
    display:inline-block;
}